#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-top {
    height: 800px;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.images {
    display: block;
    height: auto;
    width: auto;
    max-height: 600px;
    max-width: 800px;
}

.arrow-controls {
    height: 48px;
    width: 48px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 178, 170, 0.62);
}

.arrow-controls:hover {
    background: #20B2AAFF;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.imageButtons {
    padding: 0;
    background: rgba(32, 178, 170, 0.62);
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.imageButtons:hover {
    background: #20B2AAFF;
}

#dots {
    margin-top: -130px;
}