#app {
    height: 800px;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.images {
    display: block;
    height: auto;
    width: auto;
    max-height: 1024px;
    max-width: 768px;
}

.arrow-controls {
    height: 48px;
    width: 48px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 178, 170, 0.62);
}

.arrow-controls:hover {
    background: #20B2AAFF;
}

#id1 {
    display: block;
}

#id2 {
    display: none;
}

#id3 {
    display: none;
}

#id4 {
    display: none;
}

#id5 {
    display: none;
}

#id6 {
    display: none;
}

#id7 {
    display: none;
}

#id8 {
    display: none;
}

#id9 {
    display: none;
}

#id10 {
    display: none;
}